JWT_SECRET=
PORT=

TWILIO_ACCOUNT_SID=
TWILIO_SERVICE_ID=
TWILIO_AUTH_TOKEN=
TWILIO_NUMBER=17707621862

DATABASE_HOST=-database.cc5x1cw2umqw.us-east-1.rds.amazonaws.com
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=